* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    padding-top: 65px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    font-size: smaller;
}

img {
    height: 3rem;
    width: 3rem;
}

p {
    color: azure;
    text-align: center;
    font-style: italic;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: large;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-weight: bold;
}

.header{
    position: fixed;
    left:0;
    right:0;
    top:0;
}

table{
    background-color: aliceblue;
}

a{
    text-decoration: none;
    color: azure;
    font-weight: bolder;
    text-align: center;
}

footer{
    color: red;
}